.App {
    background-color: gray;
    padding: 10%;
}

.contanier{
    background-color: white;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.animal-img {
    width: 100%;
    border-radius: 10px;    
}

.button {
    border-radius: 2px;
    width: 20%;
    margin: auto;
}

.button:hover {
    background-color: aquamarine;
    margin-left: auto;
}