.App {
    background-color: gray;
    padding: 10%;
    min-height: 100vh;
}

.contanier{
    background-color: white;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.animal-img {
    width: 100%;
    border-radius: 10px; 
    margin-bottom: 2vh;   
}

.button {
    border-radius: 5px;
    width: 100%;
    height: 5vh;
}

.button:hover {
    background-color: aquamarine;
    margin-left: auto;
}